# Ordenar y Agrupar DataFrames en Pandas 1
Crea un DataFrame a partir del siguiente diccionario de datos de películas.

```python
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}
```

Luego, ordena este DataFrame por la columna 'año' en orden ascendente. Asegurate de almacenar el diccionario ordenado en una variable llamada: ``df_ordenado``

In [1]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}

df = pd.DataFrame(datos)
df

       titulo   año  rating
0  Pelicula A  2001     7.2
1  Pelicula B  2000     6.5
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5

In [3]:
df_ordenado = df.sort_values(by='año')
df_ordenado

       titulo   año  rating
1  Pelicula B  2000     6.5
0  Pelicula A  2001     7.2
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5

# Ordenar y Agrupar DataFrames en Pandas 2
Usando el mismo DataFrame del Ejercicio anterior.
```python
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}
```

Ordena las películas primero por ``rating`` en orden descendente y luego por `año` en orden ascendente. Asegurate de almacenar el dataframe ordenado en una variable llamada: df_ordenado

In [7]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}
df = pd.DataFrame(datos)
df_ordenado = df.sort_values(by=['rating', 'año'], ascending=[False, True])
df_ordenado

       titulo   año  rating
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5
0  Pelicula A  2001     7.2
1  Pelicula B  2000     6.5

# Ordenar y Agrupar DataFrames en Pandas 3
Crea un nuevo DataFrame a partir del siguiente diccionario

```python
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D', 'Pelicula E'],
    'género': ['Acción', 'Drama', 'Acción', 'Comedia', 'Drama'],
    'rating': [7.2, 8.5, 9.1, 6.5, 7.8]
}
```

Que contiene datos de películas incluyendo su género.

Luego, agrupa las películas por 'género' y calcula el promedio de 'rating' para cada género.  Asegurate de almacenar el grupo y promedio en una variable llamada: promedio_rating_por_genero

In [10]:
import pandas as pd
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D', 'Pelicula E'],
    'género': ['Acción', 'Drama', 'Acción', 'Comedia', 'Drama'],
    'rating': [7.2, 8.5, 9.1, 6.5, 7.8]
}
df = pd.DataFrame(datos)
promedio_rating_por_genero = df.groupby('género')['rating'].mean()
promedio_rating_por_genero

género
Acción     8.15
Comedia    6.50
Drama      8.15
Name: rating, dtype: float64