In [2]:
import pandas as pd

df = pd.DataFrame({
    'Col1': [100, 200, 300],
    'Col2': [400, 500, 600],
    'Col3': [700, 800, 900]
}, index=['fila1', 'fila2', 'fila3'])

df

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [23]:
df.loc['fila1']

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [9]:
df.loc[['fila1','fila2']]

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800

In [10]:
df.loc['fila1':'fila3']

       Col1  Col2  Col3
fila1   100   400   700
fila2   200   500   800
fila3   300   600   900

In [11]:
df.loc[[True, False, True]]

       Col1  Col2  Col3
fila1   100   400   700
fila3   300   600   900

In [12]:
df.loc[df['Col1']>=200]

       Col1  Col2  Col3
fila2   200   500   800
fila3   300   600   900

In [14]:
df.loc[:, ['Col1']]

       Col1
fila1   100
fila2   200
fila3   300

In [18]:
df.loc[df['Col2']>=500, ['Col2']]

       Col2
fila2   500
fila3   600

In [19]:
df.iloc[0]

Col1    100
Col2    400
Col3    700
Name: fila1, dtype: int64

In [22]:
df.iloc[[0,1], [0,1]]

       Col1  Col2
fila1   100   400
fila2   200   500