# Acceder a Elementos del DataFrame con 'Ioc' e 'iloc' 1
Utiliza loc para seleccionar los datos de la fila denominada "fila2" en el siguiente DataFrame df.  Tu resultado debe ser una Serie de Pandas llamada resultado

```python
df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])
```

In [3]:
import pandas as pd
df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])
resultado = df.loc['fila2']
resultado

Nombre         Luis
Edad             30
Ciudad    Barcelona
Name: fila2, dtype: object

# Acceder a Elementos del DataFrame con 'Ioc' e 'iloc' 2
Utiliza loc para seleccionar las filas "fila1" y "fila3" del DataFrame df. Tu resultado debe ser un DataFrame nombrado resultado.

```python
df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])
```

In [5]:
import pandas as pd

df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Carmen'],
    'Edad': [25, 30, 22],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}, index=['fila1', 'fila2', 'fila3'])

resultado = df.loc[['fila1','fila3']]
resultado

       Nombre  Edad    Ciudad
fila1     Ana    25    Madrid
fila3  Carmen    22  Valencia

# Acceder a Elementos del DataFrame con 'Ioc' e 'iloc' 3
Utiliza iloc para seleccionar las primeras dos filas y las Ãºltimas dos columnas del siguiente DataFrame df. El resultado debe ser un DataFrame llamado resultado

```python
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
})
```

In [11]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
})

resultado = df.iloc[:2,2:]
resultado

    C   D
0   9  13
1  10  14