# 01
Dada una tabla (Diccionario) de ventas que contiene información sobre productos vendidos, incluyendo ID, Producto, Cantidad y Precio,


``` python
data = {
    'ID': [1, 2, 3, 4, 5],
    'Producto': ['Producto A', 'Producto B', None, 'Producto D', 'Producto E'],
    'Cantidad': [10, 20, 30, None, 50],
    'Precio': [100, 200, 300, 400, None]
}
```


Escribe un código en Python usando Pandas para contar los valores nulos por columnas.

In [1]:
import pandas as pd
data = {
    'ID': [1, 2, 3, 4, 5],
    'Producto': ['Producto A', 'Producto B', None, 'Producto D', 'Producto E'],
    'Cantidad': [10, 20, 30, None, 50],
    'Precio': [100, 200, 300, 400, None]
}


df = pd.DataFrame(data)
df

   ID    Producto  Cantidad  Precio
0   1  Producto A      10.0   100.0
1   2  Producto B      20.0   200.0
2   3        None      30.0   300.0
3   4  Producto D       NaN   400.0
4   5  Producto E      50.0     NaN

In [3]:
df.isnull().sum()

ID          0
Producto    1
Cantidad    1
Precio      1
dtype: int64

# Ejercicio Limpieza de Datos en Pandas 2
El conjunto de datos proporcionado tiene algunas entradas duplicadas.

``` python
data = {
    'ID': [1, 2, 3, 4, 1],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D', 'Producto A'],
    'Cantidad': [10, 20, 30, 40, 50],
    'Precio': [100, 200, 300, 400, 100]
}
```

Escribe un script en Python usando Pandas para eliminar las filas duplicadas en el conjunto de datos. Almacena el resultado en una variable llamada: df_sin_duplicados

In [4]:
import pandas as pd
data = {
    'ID': [1, 2, 3, 4, 5],
    'Producto': ['Producto A', 'Producto B', None, 'Producto D', 'Producto E'],
    'Cantidad': [10, 20, 30, None, 50],
    'Precio': [100, 200, 300, 400, None]
}


df = pd.DataFrame(data)
df

   ID    Producto  Cantidad  Precio
0   1  Producto A      10.0   100.0
1   2  Producto B      20.0   200.0
2   3        None      30.0   300.0
3   4  Producto D       NaN   400.0
4   5  Producto E      50.0     NaN

In [5]:
df_sin_duplicados = df.dropna()
df_sin_duplicados

   ID    Producto  Cantidad  Precio
0   1  Producto A      10.0   100.0
1   2  Producto B      20.0   200.0

# Ejercicio Limpieza de Datos en Pandas 3
Tu tabla de ventas, la columna "Precio" tiene algunos valores nulos.

``` python
data = {
    'ID': [1, 2, 3, 4],
    'Producto': ['Producto A', 'Producto B', 'Producto C', 'Producto D'],
    'Cantidad': [10, 20, 30, 40],
    'Precio': [100, None, 300, None]
}
```

Escribe un código en Python usando Pandas para reemplazar los valores nulos en la columna Precio por el promedio de los precios no nulos de esa columna.