# Concatenar DataFrames en Pandas con concat 1

Tienes dos conjuntos de datos representados por los siguientes DataFrames ventas_enero y ventas_febrero, que contienen las ventas de diferentes productos en los meses de enero y febrero, respectivamente.
```python
ventas_enero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"], 'Cantidad': [300, 200, 150]})
ventas_febrero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"], 'Cantidad': [350, 210, 170]})
```

Tu tarea es utilizar el método concat() para concatenar estos dos DataFrames verticalmente en un nuevo DataFrame llamado `ventas_total`. Asegúrate de ignorar los índices originales para que el índice del DataFrame resultante sea continuo.

In [5]:
import pandas as pd

ventas_enero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"], 'Cantidad': [300, 200, 150]})
ventas_febrero = pd.DataFrame({'Producto': ["Manzanas", "Bananas", "Naranjas"], 'Cantidad': [350, 210, 170]})

ventas_total = pd.concat([ventas_enero, ventas_febrero], ignore_index=True)
ventas_total

   Producto  Cantidad
0  Manzanas       300
1   Bananas       200
2  Naranjas       150
3  Manzanas       350
4   Bananas       210
5  Naranjas       170

# Concatenar DataFrames en Pandas con concat 2

Considera los siguientes DataFrames datos_cliente y compras_cliente, que contienen información sobre los clientes y sus compras, respectivamente.

```python
datos_cliente = pd.DataFrame({'Nombre': ["Ana", "Luis", "Marta"], 'Edad': [34, 45, 28]})
compras_cliente = pd.DataFrame({'Producto': ["Libro", "Lápiz", "Cuaderno"], 'Precio': [15.50, 0.50, 2.00]})
```


Utiliza el método concat() para unir estos dos DataFrames horizontalmente, formando un nuevo DataFrame llamado `info_cliente`. Asegúrate de que los índices se mantengan para que cada fila corresponda correctamente entre los dos DataFrames.

In [8]:
import pandas as pd

datos_cliente = pd.DataFrame({'Nombre': ["Ana", "Luis", "Marta"], 'Edad': [34, 45, 28]})
compras_cliente = pd.DataFrame({'Producto': ["Libro", "Lápiz", "Cuaderno"], 'Precio': [15.50, 0.50, 2.00]})

info_cliente = pd.concat([datos_cliente,compras_cliente], axis=1)
info_cliente

  Nombre  Edad  Producto  Precio
0    Ana    34     Libro    15.5
1   Luis    45     Lápiz     0.5
2  Marta    28  Cuaderno     2.0

# Concatenar DataFrames en Pandas con concat 3
Dado los siguientes DataFrames que representan las ventas de dos tiendas diferentes en el mismo mes:

```python
tienda_a = pd.DataFrame({'Producto': ["Manzanas", "Bananas"], 'Cantidad': [500, 300]})
tienda_b = pd.DataFrame({'Producto': ["Naranjas", "Peras"], 'Cantidad': [400, 250]})
```

Tu tarea es concatenar estos DataFrames verticalmente en un nuevo DataFrame llamado `ventas_tienda`, utilizando el parámetro keys para marcar cada bloque de datos con las etiquetas "Tienda A" y "Tienda B", respectivamente. Asegúrate de que el DataFrame resultante tenga un índice jerárquico que refleje estas claves.

In [12]:
import pandas as pd

tienda_a = pd.DataFrame({'Producto': ["Manzanas", "Bananas"], 'Cantidad': [500, 300]})
tienda_b = pd.DataFrame({'Producto': ["Naranjas", "Peras"], 'Cantidad': [400, 250]})

ventas_tienda = pd.concat([tienda_a,tienda_b], keys=["Tienda A" , "Tienda B"])
ventas_tienda

            Producto  Cantidad
Tienda A 0  Manzanas       500
         1   Bananas       300
Tienda B 0  Naranjas       400
         1     Peras       250