In [1]:
import pandas as pd

date = pd.Series(pd.date_range('2024-01-01', periods=6))
date

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
dtype: datetime64[ns]

In [2]:
type(date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [3]:
date = pd.Series(pd.date_range('2024-01-01', periods=6, freq='D'))
date

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
dtype: datetime64[ns]

In [5]:
date = pd.Series(pd.date_range('2024-01-01', periods=6, freq='ME'))
date

0   2024-01-31
1   2024-02-29
2   2024-03-31
3   2024-04-30
4   2024-05-31
5   2024-06-30
dtype: datetime64[ns]

In [7]:
date = pd.Series(pd.date_range('2024-01-01', periods=6, freq='YE'))
date

0   2024-12-31
1   2025-12-31
2   2026-12-31
3   2027-12-31
4   2028-12-31
5   2029-12-31
dtype: datetime64[ns]

In [12]:
date = pd.Series(pd.date_range('2024-01-01', periods=6, freq='h'))
date

0   2024-01-01 00:00:00
1   2024-01-01 01:00:00
2   2024-01-01 02:00:00
3   2024-01-01 03:00:00
4   2024-01-01 04:00:00
5   2024-01-01 05:00:00
dtype: datetime64[ns]

In [17]:
date = pd.Series(pd.date_range('2024-01-01', periods=6, freq='5s'))
date

0   2024-01-01 00:00:00
1   2024-01-01 00:00:05
2   2024-01-01 00:00:10
3   2024-01-01 00:00:15
4   2024-01-01 00:00:20
5   2024-01-01 00:00:25
dtype: datetime64[ns]

In [21]:
spanish_stock_exchange_csv_url = "./spanish-stock-exchange.csv"
df = pd.read_csv(spanish_stock_exchange_csv_url)
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,02/01/2019,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,03/01/2019,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,04/01/2019,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,07/01/2019,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,08/01/2019,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,09/12/2019,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,10/12/2019,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,11/12/2019,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,12/12/2019,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,13/12/2019,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [23]:
type(df['Fecha'][0])

str

In [31]:
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y')
print(df['Fecha'][0])
print(type(df['Fecha'][0]))
print(df['Fecha'][44].year)
print(df['Fecha'][44].month)

2019-01-02 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2019
3

In [33]:
df_more_5_day = df['Fecha'] + pd.Timedelta(days=5)
df_more_5_day

0      2019-01-07
1      2019-01-08
2      2019-01-09
3      2019-01-12
4      2019-01-13
          ...
8570   2019-12-14
8571   2019-12-15
8572   2019-12-16
8573   2019-12-17
8574   2019-12-18
Name: Fecha, Length: 8575, dtype: datetime64[ns]