In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'Impares': [1,3,5],
    'Pares': [2,4,6],
})
df

   Impares  Pares
0        1      2
1        3      4
2        5      6

In [4]:
array_np1 = df.values
array_np1

array([[1, 2],
       [3, 4],
       [5, 6]])

In [5]:
array_np2 = df.to_numpy()
array_np2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
# use data frame with numpy
np.sqrt(df)

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490