# Integración de NumPy con Pandas 1
Crea un DataFrame de Pandas llamado `mi_dataframe` con dos columnas: "Frutas" y "Cantidad".

La columna "Frutas" debe contener los valores `"Manzana", "Banana" y "Cereza"`.

La columna "Cantidad" debe contener los números `5, 8 y 3` respectivamente.

Luego, convierte este DataFrame en un array de NumPy y guárdalo en una variable llamada `array_frutas`.

In [4]:
import pandas as pd
import numpy as np

mi_dataframe = pd.DataFrame({
    "Frutas": ["Manzana", "Banana", "Cereza"],
    "Cantidad": [5,8,3],
})

array_frutas = mi_dataframe.to_numpy()
array_frutas

array([['Manzana', 5],
       ['Banana', 8],
       ['Cereza', 3]], dtype=object)

# Integración de NumPy con Pandas 2
Crea un DataFrame de Pandas llamado `mi_dataframe` con dos columnas: "Frutas" y "Cantidad".

La columna "Frutas" debe contener los valores `"Manzana", "Banana" y "Cereza"`.

La columna "Cantidad" debe contener los números `5, 8 y 3` respectivamente.

1. Luego, filtra las filas donde la cantidad sea mayor a 4, almacena el resultado en una variable llamada: `mi_dataframe_filtrado`

2. Convierte el resultado en un array de NumPy. Guarda el array resultante en una variable llamada `array_filtrado`

In [8]:
import pandas as pd
import numpy as np

mi_dataframe = pd.DataFrame({
    "Frutas": ["Manzana", "Banana", "Cereza"],
    "Cantidad": [5,8,3],
})

# Filtrar las filas donde la cantidad sea mayor a 4
filtro = mi_dataframe['Cantidad'] > 4
mi_dataframe_filtrado = mi_dataframe[filtro]
mi_dataframe_filtrado

array_filtrado = mi_dataframe_filtrado.to_numpy()
array_filtrado

array([['Manzana', 5],
       ['Banana', 8]], dtype=object)

# Integración de NumPy con Pandas 3
Crea un array de NumPy llamado `mi_array` con dos columnas y tres filas.

1. La primera columna debe contener los números 10, 20 y 30.
2. La segunda columna debe contener los números 40, 50 y 60.

Convierte este array en un DataFrame de Pandas llamado `df_numeros` y asigna los nombres "Decenas" y "Centenas" a las columnas.

In [15]:
import pandas as pd
import numpy as np

mi_array = np.arange(10, 61, 10).reshape(2,3).transpose()
mi_array

df_numeros = pd.DataFrame(mi_array, columns=["Decenas", "Centenas"])
df_numeros

   Decenas  Centenas
0       10        40
1       20        50
2       30        60