In [1]:
import pandas as pd

In [3]:
weather_css_url = "./weather.csv"
df = pd.read_csv(weather_css_url)
df

     Ciudad  Temperatura  Precipitaciones
0  Ciudad A           22                0
1  Ciudad B           18               20
2  Ciudad C           15                5
3  Ciudad D           25                0
4  Ciudad E           30                2
5  Ciudad F           20               15

In [5]:
describe_df = df.describe()
describe_df

       Temperatura  Precipitaciones
count     6.000000         6.000000
mean     21.666667         7.000000
std       5.316641         8.485281
min      15.000000         0.000000
25%      18.500000         0.500000
50%      21.000000         3.500000
75%      24.250000        12.500000
max      30.000000        20.000000

In [7]:
head_df = df.head(1)
head_df

     Ciudad  Temperatura  Precipitaciones
0  Ciudad A           22                0

In [8]:
tail_df = df.tail(1)
tail_df

     Ciudad  Temperatura  Precipitaciones
5  Ciudad F           20               15