# 01
Crea dos series de pandas utilizando listas de Python.

Puedes crear ambas series con los números enteros de tu elección solamente asegurate de que la serie 1 y la serie 2 las almacenes en variables nombradas: serie1 y serie2 respectivamente.

Luego, suma ambas series y asigna el resultado a una variable llamada serie_sumada. Imprime el resultado de serie_sumada.

In [1]:
import pandas as pd
serie1 = pd.Series([10,20,30,40,50])
serie1
serie2 = pd.Series([2, 4, 8, 16, 32])
serie2

0     2
1     4
2     8
3    16
4    32
dtype: int64

In [5]:
serie_sumada = serie1 + serie2
serie_sumada

0    12
1    24
2    38
3    56
4    82
dtype: int64

In [7]:
serie_multi = serie1 * serie2
serie_multi

0      20
1      80
2     240
3     640
4    1600
dtype: int64

# 02

Dada una serie de pandas llamada serie_numerica que contienga los números de tu preferencia.
Realiza las siguientes operaciones matemáticas y guarda los resultados en variables separadas:

- Multiplica serie_numerica por 2 y guarda el resultado en serie_doble.
- Divide serie_numerica por 10 y guarda el resultado en serie_dividida.

Imprime los resultados de serie_doble y serie_dividida.

In [10]:
serie_doble = serie1 * 2
serie_doble

0     20
1     40
2     60
3     80
4    100
dtype: int64

In [13]:
serie_dividida = serie2 / 10
serie_dividida

0    0.2
1    0.4
2    0.8
3    1.6
4    3.2
dtype: float64

# 03
Considera una serie de pandas llamada serie_grande que contiene los números del 1 al 10 o mayor al 10. Obten su item 9 y haya su raiz cuadrada.

Imprime el resultado.

Observación:

En estos ejercicios no tendrás el botón "Ejecutar código" por esta razón no podrás visualizar los datos generados. Si deseas visualizarlos podrás servirte de un cuaderno de Jupyter y luego probar el ejercicio con ayuda del botón: "Ejecutar pruebas"

In [35]:
serie_grande = pd.Series(list(range(1, 11)))
serie_grande

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [36]:
import math
serie_grande[9] = math.sqrt(serie_grande[9])
serie_grande

C:\Users\carlo\AppData\Local\Temp\ipykernel_18956\3286570071.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.1622776601683795' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  serie_grande[9] = math.sqrt(serie_grande[9])

0    1.000000
1    2.000000
2    3.000000
3    4.000000
4    5.000000
5    6.000000
6    7.000000
7    8.000000
8    9.000000
9    3.162278
dtype: float64