In [1]:
import pandas as pd
data = {
    "id": [1001, 1002, 1003, 1004],
    "cantidad": [30, None, 25, 25],
    "precio": [20.5, 15.0, None, 22.5]
}
df = pd.DataFrame(data)
df

     id  cantidad  precio
0  1001      30.0    20.5
1  1002       NaN    15.0
2  1003      25.0     NaN
3  1004      25.0    22.5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4 non-null      int64
 1   cantidad  3 non-null      float64
 2   precio    3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 228.0 bytes

In [6]:
df.isnull()

      id  cantidad  precio
0  False     False   False
1  False      True   False
2  False     False    True
3  False     False   False

In [7]:
df.isnull().sum()

id          0
cantidad    1
precio      1
dtype: int64

In [8]:
df_eliminados = df.dropna()
df_eliminados

     id  cantidad  precio
0  1001      30.0    20.5
3  1004      25.0    22.5

In [11]:
precio_average = df["precio"].mean()
new_values = {"cantidad": 0, "precio": precio_average}
new_values

{'cantidad': 0, 'precio': np.float64(19.333333333333332)}

In [12]:
df_rellenados = df.fillna(new_values)
df_rellenados

     id  cantidad     precio
0  1001      30.0  20.500000
1  1002       0.0  15.000000
2  1003      25.0  19.333333
3  1004      25.0  22.500000

In [13]:
df_rellenados["cantidad"] = df_rellenados["cantidad"].astype(int)
df_rellenados

     id  cantidad     precio
0  1001        30  20.500000
1  1002         0  15.000000
2  1003        25  19.333333
3  1004        25  22.500000

In [14]:
df_unicos = df_rellenados.drop_duplicates()
df_unicos

     id  cantidad     precio
0  1001        30  20.500000
1  1002         0  15.000000
2  1003        25  19.333333
3  1004        25  22.500000

In [15]:
df_unicos_cantidad = df_rellenados.drop_duplicates(subset="cantidad")
df_unicos_cantidad

     id  cantidad     precio
0  1001        30  20.500000
1  1002         0  15.000000
2  1003        25  19.333333